.card {
    max-width: 360px;
    border-radius: 8px;
    border: 1px solid violet;
    min-height: 100px;
    padding-bottom: 10px;
    flex-direction: column;
    height: 100%;
    color:rgb(183, 70, 183); 
    background-color: rgba(255, 228, 196, 0.629);
    
       
    

    &-img {
        height: 200px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }

    &-top {
        flex-grow: 1;
        
    }
&-destacado {
    background-color: rgb(248, 160, 175);
    color: rgb(108, 38, 108);
    display: inline-block;
    padding: 4px 6px;
    border-radius: 4px;
    margin: 12px 0;
}
    &-info {
        padding: 12px 16px 8px;
        display: flex;
        flex-direction: column;

        &_categoria {
            color: rgb(193, 64, 193);
            text-transform: uppercase;
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 8px;
        }

        &_titulo {
            color: rgb(177, 41, 177);
            font-size: 20px;
            margin-bottom: 8px;
        }

        &_precio {
            border-top: 1px solid rgb(158, 51, 158);
            padding-top: 8px;
        }
    }
}