.footer {
    text-align: center;
    padding-bottom: 2rem;
    color:rgb(178, 79, 178);


    &Imagen {
    max-height: 20rem;
    width: 100%;
    background-color:transparent;
      background-repeat: repeat-x;
    }
  
}