<div class="card border-danger mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-danger">Telefono</div>
  <div class="card-body">
    <h5 class="card-title">Numero Principal</h5>
    <p class="card-text">+54 9 11 6017-7456</p>
  </div>
</div>
<div class="card border-danger mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-danger">Horarios Disponibles</div>
  <div class="card-body">
    <h5 class="card-title">Lunes a Viernes </h5>
    <p class="card-text">09:00 AM - 18:00 PM </p>
  </div>
</div>
<div class="card border-danger mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-danger">Redes Sociales</div>
  <div class="card-body">
    <app-redes-sociales></app-redes-sociales>
  </div>
</div>
