<div class="Nosotros">

  <h4 class="Nosotros-titulo">

    Somos un equipo dedicado al cuidado de la salud y la estética corporal.
    Como institución Medica Estética tenemos como objetivo: Lograr en cada paciente un cambio estético corporal,
    procurando estimular habitos sanos, administrando una dieta equilibrada y trabajando con técnicas modernas y
    productos que contribuyen a que los tratamientos tengan mejores resultados.
    <br><br>

    Nuestro personal tiene años de esperiencia, cada uno de ellos posee titulos abalados.
    Contamos con espacios adaptados a las necesidades y satisfaccion para nuestras clientas.
    Tenemos las maquinas en perfecto estado para ofrecer los tratamientos mas optimos.
  </h4>

  <img src="assets/varias/personal1.jpg" >

</div>
