.Nosotros-titulo {

  background-color: pink;
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 1.428;
}

img {

  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
}

@media (min-width: 750px) {
  img {
    display: flex;
    background-size : cover
  }
}
