h1 {
    color: rgb(169, 57, 150);
    font-family: 'Arial', Helvetica, sans-serif;
    padding: 50px;
    background-color: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    padding-left: 40px;
    margin-bottom: 40px;
}

.contenedor{
background-image: url("/../assets/varias/turnoimg.jpg");
background-size: cover;
}

.formulario{

    font-family:'Broadway', Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    padding: 5px 12px;
    color: rgb(65, 4, 65);
    display: flex;
    justify-content: space-between;
    background:plum;
    display: block;
    max-width: 300px;
}
